@import url(./normalize.css);/*파일 가져오기, 맨 처음에 넣어야 함*/
/*normalize.css에 body{margin: 0;}이 담겨있기에 가장자리 여백이 사라짐*/
@import url(./reset.css);

/* 기본 스타일 */
*, *::before, *::after{
box-sizing: border-box;
}

/*본문 스타일*/
body{
  background: rgb(248, 248, 230);
  /*웹폰트 적용(pretendard)*/
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

/*레이아웃*//*selector 그룹핑*/
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  /*border의 크기를 width와 height의 값으로 사용할 수 있게 함(원래 width는 content기준)*/
  margin: 0 auto; /*마치 중앙 정렬이 된 것 같은. 이동한 것이 아니라 크기가 커진 거임*/
  /*margin: 0 0 0 auto; 마치 오른쪽 정렬이 된 것 같은. 그냥 크기가 커진 거임*/
}

/*헤더*/
.header{
  background: rgb(254, 130, 151);
  padding: 0 30px; /*세로 가로*/
  height: 15vh;
}

/*비주얼*/
.visual{
  background: orange;
  height: 10vh;
}

/*메인*/
.main{
  background: #7ec581;
  height: 50vh;
}

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  background-color: aqua; 
  width: 250px;
}

.group2{
  background-color: rgb(234, 0, 255);
  width: 380px; 
}

.group3{
  background-color: rgb(154, 255, 67);
  width: 190px;
}

/*슬로건*/
.slogan{
  background: #4EC5F1;
  height: 10vh;
  clear: both;
}

/*푸터*/
.footer{
  background: rgb(138, 138, 138);
}

.footer-inner{
  background: rgb(234, 234, 234);
  height: 15vh;
}