@import url(./normalize.css);/*파일 가져오기, 맨 처음에 넣어야 함*/
/*normalize.css에 body{margin: 0;}이 담겨있기에 가장자리 여백이 사라짐*/
@import url(./reset.css);

/*숨김 콘텐츠*/
.a11y-hidden{
  position: absolute;
  /* top: -9999em; 1.화면 밖으로 내보낼라고 큰 숫자 사용(숨김), em은 상속받아서 단위가 더 커서 em씀. */
  /*2.제자리에서 숨기는 방법*/
  width: 1px; /*최소의 크기가 있어야 스크린 리더가 읽음*/
  height: 1px;
  margin: -1px;/*negative margin이라고 검색해서 왜 썼는지 알아보삼*/
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0); 
  /*clip: rect(1px, 1px, 1px, 1px) for legacy browsers*/
}

/*기본 스타일*/
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 10px; /*계산을 쉽게 하려고 걍 10px 준 것*/
}

/*링크 스타일*/
a{
  color: inherit; /*부모로부터 상속받은 색*/
  text-decoration: none;
}

/*본문 스타일*/
body{
  /*em, rem 단위 사용해보기*/
  font-size: 1.4rem;
  color: #181818;
  background: #ccc;
  /*웹폰트 적용(pretendard)*/
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

/*레이아웃*//*selector 그룹핑*/
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  /*border의 크기를 width와 height의 값으로 사용할 수 있게 함(원래 width는 content기준)*/
  margin: 0 auto; /*마치 중앙 정렬이 된 것 같은. 이동한 것이 아니라 크기가 커진 거임*/
  /*margin: 0 0 0 auto; 마치 오른쪽 정렬이 된 것 같은. 그냥 크기가 커진 거임*/
}

/*헤더*/
.header{
  background: #fff;
  padding: 0 30px; /*세로 가로*/
  border-radius: 0 0 15px 15px; /*x축/y축*/
  position: relative;
}

/*로고*/
.logo{
  /* background-color: blue; */
  position: absolute; /*로고가 떠 있음*/
  top: 45px;
  left: 60px;
}

/*텍스트 링크 모음*/
.member{
  text-align: right;
  /* font-size: 0; */
  padding: 4px 0;
  /* 1. position 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기*/
  /* position: relative;
  right: -10px; */
  /* 2. transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기*/
  transform: translateX(10px);
  /* 3. margin도 고민해보삼 */
}

.member li{
  /* background-color: pink; */
  display: inline-block;
  /* font-size: 16px; */
}

.member a{
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding값을 0으로 재정의*/
/* .member li:last-child a{
  padding-right: 0;
} */

.divider{
  margin-right: 4px;
}

/*메인 메뉴*/
.menu{
  background-color: rgb(202, 65, 53);
  background-image: linear-gradient(orange, orangered, orange);
}

/*비주얼*/
.visual{
  background: orange;
  height: 10vh;
}

/*메인*/
.main{
  background: #7ec581;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
}

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  background-color: aqua; 
  width: 250px;
}

.group2{
  background-color: rgb(234, 0, 255);
  width: 380px; 
}

.group3{
  background-color: rgb(154, 255, 67);
  width: 190px;
}

/*슬로건*/
.slogan{
  background: #4EC5F1;
  height: 10vh;
  clear: both;
}

/*푸터*/
.footer{
  background: rgb(138, 138, 138);
}

.footer-inner{
  background: rgb(234, 234, 234);
  height: 15vh;
}